.camera-card {
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    display: flex;
}

.camera-card-header {
    padding: 30px;
}
.camera-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}

.image-container {
    max-width: 400px;
    max-height: 400px;
}
.message-container {
    max-width: 400px;
    max-height: 400px;
}
.side-btn {
    background: #28a745;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    font-size: 18px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.btn {
    background: #dc3545;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border: none;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 10px auto;
}

@media (max-width: 480px) {
    .camera-card {
        flex-direction: column;
    }
    .camera-card-header {
        padding: 15px;
    }
    .camera-card-body {
        padding: 15px;
    }
}