.clock-card {
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 30px;
    max-width: 600px;
    margin: 20px auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

@media (max-width: 768px) {
    .clock-card {
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .clock-card {
        padding: 15px;
    }
}


.clock-card-header {
    padding: 30px;
    text-align: center;
}
.clock-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    text-align: center;
}

.clock-card-body-content {
    max-width: 400px;
    max-height: 400px;
    text-align: center;
}

.clock-card-body-content p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}


