.iot-card {
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    display: flex;
}

.iot-card-header {
    padding: 30px;
}
.iot-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
}
.iot-card-body-content {
    max-width: 400px;
    max-height: 400px;
}

.device-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    gap: 10px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}