.last-detection {
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    display: flex;
}
.last-detection-header {
    padding: 30px;
}
.last-detection-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    margin: 20px;
    padding: 20px;
}
.last-detection-body img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 10px auto;
    padding: 10px;
}